<div class="example-container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="20px"
  fxLayoutGap.xs="0">
  <div fxFlex="20"></div>
  <div fxFlex="20" fxflex.sm="30" fxflex.xs="60" fxflex.md="80" fxflex.lg="70" fxflex.xl="40" fxFlexOrder="3"></div>
  <div>
    <div class="example-container">
      <form>
        <mat-card class="example-height">
          <br>
          <p style="text-align: center">
            <span class="shadow0">f</span>
            <span class="shadow1">u</span>
            <span class="shadow2">n</span>
            <span class="shadow3">d</span>
            <span class="shadow4">o</span>
            <span class="shadow5">o</span>
          </p>

          <mat-card-header>
            <mat-card-title>
              <span class="shadow" style="text-align: center">
                <h3>Forgot Password</h3>
              </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="example">
            <form>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email id" name="email" [(ngModel)]="model.email " [formControl]="email"
                  required>
                <mat-error *ngIf="email.invalid">{{getErrorEmail()}}</mat-error>
              </mat-form-field>
              <p>Set password link sent to you registered email, please check.</p>

            </form>
            <button mat-raised-button (click)="goToPassword()" style="float:right" color="primary">Create New Password</button>

          </mat-card-content>


        </mat-card>
      </form>
    </div>
</div>