.reset{
    font-family: sans-serif;
    font-weight: bold;
    color: #4527A0;
    margin-left:20%
}
.card{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 03%;

}
.email{
    margin-left: 20%;
    width: 60%;
}
.s{
    margin-left: 64%
}
.login{
    margin-left: 20%
}
.button{
    margin-left: 65%
}
.f{
    color: #01579B;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
  }
  .u{
    color: #D50000;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
    
  }
  .n{
    color: #FF8F00;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
  
  }
  .d{
    color: #01579B;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
  
  }
  .o{
    color: #33691E;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
  
  }
  .o{
    color: #D50000;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
  }
  .fundoo{
    margin-left: 20%;
    font-family: sans-serif
}