<div class="example-container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="20px"
  fxLayoutGap.xs="0">
  <div fxFlex="20"></div>
  <div fxFlex="20" fxflex.sm="30" fxflex.xs="60" fxflex.md="80" fxflex.lg="70" fxflex.xl="40" fxFlexOrder="3"></div>
  <div>
    <div class="example-container">
      <form>
        <mat-card class="example-height">
          <br>
          <p style="text-align: center">
            <span class="shadow0">f</span>
            <span class="shadow1">u</span>
            <span class="shadow2">n</span>
            <span class="shadow3">d</span>
            <span class="shadow4">o</span>
            <span class="shadow5">o</span>
          </p>

          <mat-card-header>
            <mat-card-title>
              <span class="shadow" style="text-align: center">
                <h3>Forgot Password</h3>
              </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="example">
            <form>
              <mat-form-field class="example-width">
                <input matInput placeholder="New Password" type="password" [formControl]="password" [(ngModel)]="info.password "
                  name="password" [type]="hide ? 'password' : 'text'" required>
                <mat-error *ngIf="password.invalid">
                  {{getErrorPassword()}}
                </mat-error>
                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </mat-form-field>

              &nbsp; &nbsp; &nbsp; &nbsp;
              <mat-form-field class="example-width">
                <input matInput placeholder="Re-Enter New Password" type="password" [formControl]="password"
                  [(ngModel)]="info.password " name="password" [type]="hide ? 'password' : 'text'" required>

                <mat-error *ngIf="password.invalid">
                  {{getErrorPassword()}}
                </mat-error>

                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </mat-form-field>
            </form>

            <button mat-raised-button (click)=" resetPassword()" style="float:right" color="primary">
              Create New Password
            </button>

          </mat-card-content>


        </mat-card>
      </form>
    </div>
</div>