    <div fxLayout="row wrap" fxFlexOffset="10">                  
 <div *ngFor="let array of card  | search:Search" class="array"  >
<mat-card class="EachCard" fxLayout="column" [ngClass]="{'matcard': view==true,'notecard': view==false}"  fxFlex="92" fxFlexOffset.xl="10" fxFlex.xs='97'  [style.backgroundColor]='array.color' >
  <div fxFlex="55" fxFlexOffset.xl="20" fxFlex.xs='97' fxLayout='row' fxLayoutAlign="start center"(click)="openDialog(array,cond,array.id,type)">


    <div fxLayout="column"  mat-dialog-content class="card" >
      <!-- <button  class="hover" class="pinIcon" (click)=changePin()>
      <img src="../../../assets/pin.svg" >
    </button> -->
    
      <div ><mat-card-title class="title">{{array.title }} </mat-card-title></div>
      <div><mat-card-subtitle class="desc">{{array.description}}</mat-card-subtitle></div>

   <!----------------------- collaborators---------------------------------------->
    <div fxLayout="row wrap" >
    <div  *ngFor="let person of  array.collaborators"  class="index" fxLayoutGap="40px">
   <button  matTooltip="{{person.email}}" (click)="opendialog()"class="basic" mat-mini-fab >
   {{person.email | uppercase | slice : 0 : 1 }} </button>
   </div>
   </div>
  
   <!------------------------reminders ------------------------------------------->
<div *ngIf="array.reminder.length!=0">
    <div *ngFor='let item of array.reminder;'>
      <mat-chip-list >
      <mat-chip class="sample" (mouseenter)="show=true" (mouseleave)="show=false">
        Tom{{item | date}}
        <mat-icon  *ngIf=show (click)="remove(array)" matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    </div>
  </div>
    </div>
   
  </div>
 <!--------------------------------- checklist -------------------------------------------------->
 <div *ngIf='show==false'>
  <div *ngFor='let list of array.noteCheckLists'>
    <div *ngIf='!list.isDeleted'>
      <div fxLayout='column'>{{list.itemName}}</div>
    </div>
  </div>
</div>
<div *ngIf='show==true'>
  <div *ngFor='let list of array.noteCheckLists'>
    <div *ngIf="list.status=='open' && list.status!='close' && !list.isDeleted" fxLayout='center center'>
      <img src="../../../assets/empty_box.svg" (click)='removeCheckList(list)'>{{list.itemName}}
    </div>
  </div>
  <div *ngFor='let list of array.noteCheckLists'>
    <div *ngIf="list.status=='close' && !list.isDeleted" fxLayout='center center'>
      <img src="../../../assets/right_box.svg" (click)='addCheckList(list)'><del>{{list.itemName}}</del>
    </div>
  </div>
</div>
  <!---------------------------------- checklist ------------------------------------->
  <!-----------------------------------labels------------------------------------->
  <div *ngIf='array.noteLabels.length!=0'>
      <div *ngFor= "let item of array.noteLabels">
   <mat-chip-list>
    <mat-chip class="sample" (mouseenter)="showing=true" (mouseleave)="showing=false">{{item.label}}
        <mat-icon *ngIf=showing  (click)="removelabel(array.id,item.id)" matChipRemove>cancel</mat-icon>
  </mat-chip>

  </mat-chip-list>
  </div></div>




    <div fxFlex='100' >              
      <app-iconlist [card]=array (labelEvent)="label($event)" (archivedCard)="archive($event)"  (showtickUpdate)='showTickBox($event)' [more]=display  [type]=note  class="card" (unarchiveCard)='unarchived($event)'    (deletecard)="delete($event)"> </app-iconlist>
    </div>
    <div *ngIf="array.questionAndAnswerNotes.length>0" (click)='navigate(array)'>
      <mat-divider></mat-divider>
      <div class="text">Question asked</div>
      <div *ngIf="array.questionAndAnswerNotes.length>0" [innerHtml]='array.questionAndAnswerNotes[0].message'></div>
    </div>
</mat-card>
</div>
</div>
  

 


