
.matcard{
margin-top: 8%;
border-radius: 5px;
box-shadow: 0px 2px 4px;
margin-left: 47px;
position: relative;
opacity: .9;
 max-height: 4.2cm;
 width: 275px;

}
.notecard{
  margin-top: 8%;
  border-radius: 5px;
  box-shadow: 0px 2px 4px;
  margin-left: 47px;
  position: relative;
  opacity: .9;
  max-height: 3.3cm;
  width: 200px;
  }
// .notecard{
//     text-align:center;
// }
.title{
  font-size: 14px;
}
.desc{
  font-size: 18px;
}
.card{
  margin-right: 0px;
}

