<div fxLayout.xs="60"  >
<div *ngIf="!isOpen"  class="addNote" (click)="isOpen=true"  >

  Take a note ...
   
  <button mat-icon-button   style="left: 9.3cm">
<mat-icon aria-label="Example icon-button with a heart icon" (click)="choose3=false">
  check_box 
</mat-icon>
</button>
<button mat-icon-button  style="left: 9.5cm" var=showBrush>
<mat-icon aria-label="Example icon-button with a heart icon">
  brush
</mat-icon>
</button>
<button mat-icon-button   style="left: 9.6cm">
<mat-icon aria-label="Example icon-button with a heart icon">
  image
</mat-icon> 
</button>

</div>

<div *ngIf="isOpen"  class="addNote"  [ngStyle]="{'backgroundColor': color}">

  <div class="addNoteInputDiv">

    <textarea [ngStyle]="{'backgroundColor': color}" class="addNoteTitleInput" [formControl]="title"  placeholder="Title"><strong>{{hello}}</strong></textarea>

   
    <button class="pinIcon" (click)=changePin()>
      <img src="https://img.icons8.com/material-outlined/24/000000/pin.png">
    </button>
    <label></label>
    <textarea [ngStyle]="{'backgroundColor': color}" class="addNoteInput" [formControl]="description" placeholder="Take a note..." ></textarea>
    

  </div>
  
    <mat-chip-list  *ngIf="date!=undefined">
        <mat-chip class="sample" (mouseenter)="show=true" (mouseleave)="show=false" >
          {{date | date}}
          <mat-icon  *ngIf=show (click)="remove(array)" matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

    <div fxLayout="row wrap" >
      <div  *ngFor="let person of  collaboratorArray"  class="index" fxLayoutGap="40px">
     <button  matTooltip="{{person.email}}" (click)="opendialog()"class="basic" mat-mini-fab >
     {{person.email | uppercase | slice : 0 : 1 }} </button>
     </div>
     </div>
     <div *ngFor="let label of array2 ">
     <mat-chip-list selected>
      <mat-chip style="margin-top:15px">
        {{label.label}}
      <mat-icon matChipRemove (click)="removeAssignments()">cancel
   </mat-icon>
    </mat-chip>
    </mat-chip-list></div>
  <div class="addNoteControlIcon"  >

    <app-iconlist  (reminderEvent)='remind($event)' (messageEvent)="recievemessage($event)" [type]=note  ></app-iconlist>
    <button mat-button  (click)="close()"style="left:5cm">close </button>

  </div>

  <div *ngIf=noteBar>
    <app-notebar *ngFor="let note of noteBarValue" [[note]]=note></app-notebar>
  </div>
  
  </div>  
</div>