<mat-toolbar class="dashboardToolBar">
  <div class="iconAndTitle">

    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Main Menu">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <img class="fundooIcon" src="/../assets/fundoo_dp.png">

    <div class="dashboardTitle">{{headerName}}</div>

  </div>
  <!------------------------------------search ------------------------------------------------------>
  <div class="searchToolBar">
    <button mat-icon-button>
      <mat-icon class="mat-18">search</mat-icon>
    </button>
    <input [(ngModel)]="Search" (keyup)='lookfor()' (click)='goSearch()' class="searchInputBar" type="text" placeholder="search">
  </div>
  <div>
  <button aria-label="Toggle sidenav" mat-icon-button aria-label="Toggle sidenav" [routerLink]="['cart']">
    <mat-icon>shopping_cart</mat-icon></button>
  </div>
  <!-----------------------------Gridview&listview --------------------------------------------->
  <div>
    <button *ngIf='view==false' mat-icon-button matTooltip="List view" (click)="toggle()">
      <mat-icon >view_stream</mat-icon>
    </button>
    <button *ngIf='view==true' mat-icon-button matTooltip="List view" (click)="toggle()">
      <mat-icon >view_module</mat-icon>
    </button>


  </div>
  <!-----------------------------------profile pic  ----------------------------------->
  <div class="profilepic">
      <button  *ngIf="imageNew != '' " (click) = "$event.stopPropagation()"  matTooltip="fundoo Account"
      mat-mini-fab 
      [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}" 
      [matMenuTriggerFor]="accountMenu" class="imagetext"
      >
</button>
      <button *ngIf="imageNew == '' "  (click) = "$event.stopPropagation()"  matTooltip="fundoo Account"
      mat-mini-fab 
      [matMenuTriggerFor]="accountMenu" 
    class="imagetext">
    {{email | uppercase | slice : 0 : 1 }}</button>
  </div>

  

</mat-toolbar>
<mat-menu #accountMenu="matMenu">

    <div fxLayoutAlign="row wrap">
        <div fxFlex=20>  
          <button  (click) = "$event.stopPropagation()"
                    [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"
                     matTooltip="fundoo Account" 
                    mat-mini-fab class="imageSelect" >
      <div mat-raised-button class="change" (click)="openPicture(data)">change
      
      </div>
      </button>
      
      <!-- <input (click) = "$event.stopPropagation()" class="image" type="file" 
      (change)="onFileUpload($event)" #imageSelectFile> -->
      
      </div>
  
    <div fxLayout="column" fxLayoutAlign="left left" style="padding-right: 20px">
    
  
      <span class="usernameStyle">{{name}}</span>
      <span class="emailStyle">{{email}}</span></div>
    </div>
    <button mat-button (click)="logout()" style="background-color: royalblue; margin-top: 25px">Log Out</button>

  </mat-menu>

  <!-- <button aria-label="Toggle sidenav" mat-icon-button aria-label="Toggle sidenav" >
    <mat-icon routerLink="/dashboard/cart" >
      shopping_cart
    </mat-icon>
</button> -->
<mat-divider></mat-divider>

<!--------------------------------------sidenav bar  -------------------------------------->
<mat-drawer-container class="example-container">
  <mat-drawer #sidenav mode="side" opened="true">
    <div>

      <button mat-button [routerLink]="['note']" (click)="headerName= 'Fundoo Notes'" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
        <mat-icon>lightbulb_outline</mat-icon> Notes

      </button>

    </div>
    <div>
      <button mat-button [routerLink]="['remindericon']" (click)="headerName= 'Remainders'" [ngClass]="{'sideNavListItems': headerName!='Remainders', 'sideNavlistItemsColored': headerName=='Remainders'}">
        <mat-icon>notifications_none</mat-icon> Remainders
      </button>
    </div>

    <mat-divider></mat-divider>

    <p class="textSize">LABELS</p>
   <div *ngFor= "let label of ArrayOfLabel">
     <mat-nav-list>
      <mat-list-item (click)="editlabel(label)">
      <mat-icon>label_outline</mat-icon>
       {{label.label}}
       </mat-list-item>
     </mat-nav-list>
   </div>
    <button class="sideNavListItems" mat-button (click)="openDialog()">

      <mat-icon>edit</mat-icon> Edit Labels
    </button>
    <mat-divider></mat-divider>
    <div>

      <button mat-button [routerLink]="['archivenote']" (click)="headerName= 'Archive'" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
        <mat-icon>archive</mat-icon> Archive
      </button>
    </div>

    <div>
      <button mat-button [routerLink]="['trash']" (click)="headerName= 'Trash'" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
        <mat-icon>delete</mat-icon> Trash
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngFor="let color of colorCode">

      <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode)">

        <mat-icon class="colorIcons">fiber_manual_record</mat-icon>

      </button>

    </div>

    <router-outlet>

    </router-outlet>
  </mat-drawer-content>

</mat-drawer-container>