<mat-toolbar class="dashboardToolBar">
  <div class="iconAndTitle">

    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Main Menu">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <img class="fundooIcon" src="/../assets/fundoo_dp.png">

    <div class="dashboardTitle">{{headerName}}</div>

  </div>
  <div class="searchToolBar">
 

    <button mat-icon-button>
      <mat-icon class="mat-18">search</mat-icon>
    </button>
    <input [(ngModel)]="Search" (keyup)='lookfor()' (click)='goSearch()' class="searchInputBar" type="text"  placeholder="search">
    

  </div>
  <div >

     

      <button *ngIf='view==false' mat-icon-button matTooltip="List view" (click)="toggle()"> 
          <mat-icon class="view_list">view_stream</mat-icon>
        </button>
        <button *ngIf='view==true' mat-icon-button matTooltip="List view" (click)="toggle()"> 
            <mat-icon class="view_list">view_module</mat-icon>
          </button>
        
       
  </div>
  <div>
  
   <button mat-mini-fab  mat-icon-button class="accountButton" [matMenuTriggerFor]="accountMenu" matTooltip="Google Account">
       
          <mat-icon class="account_circle">account_circle</mat-icon>
        </button>
  </div>

  

</mat-toolbar>


<mat-menu #accountMenu="matMenu">
  
    <button mat-icon-button class="change" (click)="openPicture()">change

    </button>

    <div fxLayout="column" fxLayoutAlign="left left" style="padding-right: 20px">
        <span class="usernameStyle">{{userName}}</span>
        <span class="emailStyle">{{email}}</span>
        <button mat-button (click)="logout()" style="background-color: royalblue; margin-top: 25px">Log Out</button>
      </div>
</mat-menu>
<mat-divider></mat-divider>

      <mat-drawer-container class="example-container">
          <mat-drawer #sidenav mode="side" opened="true">
      <div>
        
        <button mat-button [routerLink]="['note']"  (click)="headerName= 'Fundoo Notes'" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
          <mat-icon >lightbulb_outline</mat-icon> Notes
            
    </button>
        
      </div>
      <div>
        <button mat-button  [routerLink]="['remindericon']"  (click)="headerName= 'Remainders'" [ngClass]="{'sideNavListItems': headerName!='Remainders', 'sideNavlistItemsColored': headerName=='Remainders'}">
          <mat-icon>notifications_none</mat-icon> Remainders
        </button>
      </div>
      
          <mat-divider></mat-divider>
        
            <p  class="textSize">LABELS</p>
            
        <button class="sideNavListItems" mat-button (click)="openDialog()" >

          <mat-icon >edit</mat-icon> Edit Labels
        </button>
        <mat-divider></mat-divider>
      <div>
        
        <button mat-button  [routerLink]="['archivenote']"  (click)="headerName= 'Archive'" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
          <mat-icon>archive</mat-icon> Archive
        </button>
      </div>
      
      <div>
        <button mat-button  [routerLink]="['trash']"  (click)="headerName= 'Trash'" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
          <mat-icon>delete</mat-icon> Trash
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div *ngFor="let color of colorCode">

        <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode)">
  
          <mat-icon class="colorIcons">fiber_manual_record</mat-icon>
  
        </button>
  
      </div>
     
<router-outlet>
  
</router-outlet>
</mat-drawer-content>

    </mat-drawer-container>
    