// .example-container {
//     position: absolute;
//     min-width: 250 px;
//     top: 80px;
//     bottom: 0px;
//     left: 0px;
//     right: 0px;
//     background-color: #ffffff;
//     }
.Hover{
    width: 247px;
    margin-bottom: 28px;
    opacity: 0;
    &:hover{
        opacity: 1
    }
    }