
<button mat-icon-button matTooltip="Remind me" >
  <mat-icon class="mat-18">notifications
  </mat-icon>
</button>


<button mat-icon-button matTooltip="Collaborator">
  <mat-icon class="mat-18">person_add_outline
  </mat-icon>
</button>

<button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
  <mat-icon class="mat-18">color_lens</mat-icon>
</button>

<button mat-icon-button matTooltip="Add image">
  <mat-icon class="mat-18">photo</mat-icon>
</button>

<button mat-icon-button matTooltip="Archive" >
  <mat-icon class="mat-18">archive</mat-icon>
</button>

<button mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreMenu" (click)="openMenu()">
  <mat-icon class="mat-18">more_vert</mat-icon>
</button>

<mat-menu #moreMenu="matMenu" class="moreMenu">
 
    <button mat-menu-item (click)="menuSub()" *ngIf="!open">Add Label</button>
    <button mat-menu-item (click)="menuSub()" *ngIf="!open">edit Label</button>
    <button mat-menu-item (click)="menuSub()" *ngIf="!open">delete Label</button>

  
  
</mat-menu>

<mat-menu #subMenu="matMenu">
 
  Label Note
  <input matInput placeholder="create new label">

  
</mat-menu>


<mat-menu #colorMenu="matMenu" >
  <ng-template matMenuContent>
    <div class="buttons">
      <div fxLayout=row fxLayoutGap=10px style="margin-top:5px" *ngFor='let colors of colorArray'>
        <div *ngFor='let color of colors'>
          <button class="colors" [ngStyle]="{'background-color': color.color }" (click)='colorsEdit(color.color)'
            matTooltip="{{color.name}}" mat-mini-fab></button>
        </div>
      </div>
    </div>
  </ng-template>
</mat-menu>

