@import '../../scss/mixins';
@import '../../scss/variables';
  .card {
   @include card()
  }
  .container{
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .rowContainer{
    display: flex;
    flex-direction: row;
    padding: 5%;
  }
  #createAccount{
   @include createAccount()
  }
  .fundoo{
         font-size: 200%;
        }
      .f{
        color: $blue;
        @include fundoo()

      }
      .u{
        color:$red;
        @include fundoo()

        
      }
      .n{
        color:$yellow;
       @include fundoo()
      
      }
      .d{
        color:$blue;
        @include fundoo()

      
      }
      .o{
        color:$green;
        @include fundoo()

      }
      .oo{
        color:$red;
        @include fundoo()

      }