<div fxFlex='100' fxLayout="column" >
  <mat-card [style.background]="data.array.color">
    <div  fxLayout="column" fxFlex="100" fxFlexOffset.xl="20" fxFlex.xs='97'>
      <div class="title">
        <div  fxLayout="row" class="takenote" matTextareaAutosize>
          <textarea class="textArea"  placeholder="Title" [(ngModel)]="data.array.title" ></textarea>
        </div>
        <div  fxLayout="column" class="takenote">
          <textarea class="textArea"  placeholder="Note" [(ngModel)]="data.array.description"></textarea>
        </div>


     <mat-divider></mat-divider>
     <div>
<mat-icon>add</mat-icon>
<mat-checkbox class="iconCheck" *ngIf="adding" [(ngModel)]=addCheck color="primary"></mat-checkbox>
<input class="note" fxFlex="95%" class="note" placeholder="List Item" [ngStyle]="{'background-color':data.array.color}"/>     </div>
<mat-divider></mat-divider>



        <div fxLayout="row wrap" >
            <div  *ngFor="let person of  data.array.collaborators"  class="index" fxLayoutGap="40px">
           <button  matTooltip="{{person.email}}" (click)="opendialog()"class="basic" mat-mini-fab >
           {{person.email | uppercase | slice : 0 : 1 }} </button>
           </div>
           </div>
           <div *ngFor='let item of data.array.reminder'>
              <mat-chip class="sample" (mouseenter)="icon=true" (mouseleave)="icon=false">
                Tom{{item|date:shortdate}}
                <mat-icon   *ngIf=icon  (click)="remove(array)" matChipRemove>cancel</mat-icon>
              </mat-chip>
        
            </div>
      </div>
     
      <div fxLayoutAlign='space-between end'>
        <app-iconlist [card]="data.array" [type]=note></app-iconlist>
        
          <button fxLayoutAlign='end end' class="notes" mat-button [mat-dialog-close]="data" cdkFocusInitial>close</button>
        
      </div>
    </div>
  </mat-card>
</div>

