<div fxFlex='200' [style.background]="data.array.color">
  
  <mat-form-field >
    
    <input class="title" matInput [(ngModel)]="data.array.title">
  </mat-form-field>

    <mat-form-field >
    
    <input class='desc' matInput [(ngModel)]="data.array.description">
  </mat-form-field>
  
  <div fxLayoutAlign='space-between end'>
    <app-iconlist [card]="data.array"></app-iconlist>
    
      <button fxLayoutAlign='end end' class="notes" mat-button [mat-dialog-close]="data" cdkFocusInitial>close</button>
    
  </div>
</div>
