@import '../../scss/mixins';
@import '../../scss/variables';
.takenote{
    @include takenote();
      color: $greylight
      
    }
    .textArea{
    @include textArea()
    } 
    ::ng-deep .mat-dialog-container{
      padding:0%; 
  }
  .sample{
    background: transparent
  }
  .text{
    background: transparent;
    outline:none;
    border:none;
  }