@import '../../scss/mixins';
@import '../../scss/variables';
.takenote{
    @include takenote();
      color: $greylight
      
    }
    .textArea{
    @include textArea()
    } 
    ::ng-deep .mat-dialog-container{
      padding:0%; 
  }
  .sample{
    background: transparent
  }
  .text{
    background: transparent;
    outline:none;
    border:none;
  }
  .card{
//     //    display: flex;
//  justify-content: center;
//     // max-width: 600px;
//     // max-height: 280px;
//     // border-radius: 10px;

  }