@import '../../scss/mixins';
@import '../../scss/variables';
.card {
  @include Card()
  }

#loginName {
    @include loginName()
 }
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  // .container > * {
  //   width: 100%;
  // }

  #signButton {
    padding-left: 60px;
  }

  #forgotLink {
    font-size: 10px;
    padding-left: 145px;
  }
  .f{
    color: #01579B;
    @include fundoo()

  }
  .u{
    color: #D50000;
    @include fundoo()

  }
  .n{
    color: #FF8F00;
    @include fundoo()

  
  }
  .d{
    color: #01579B;
    @include fundoo()

  
  }
  .o{
    color: #33691E;
    @include fundoo()

  
  }
  .o{
    color: #D50000;
    @include fundoo()

  }
  .fundoo{
    margin-left: 20%;
    font-family: sans-serif
}
