<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="space-between" style="padding: 150px">
<mat-card class="card">
  <mat-card-title class="fundoo" fxLayout="row">
    <span class="f">F</span>
    <span class="u">u</span>
    <span class="n">n</span>
    <span class="d">d</span>
    <span class="o">o</span>
    <span class="oo">o</span>
  </mat-card-title>
  <mat-card-header id="loginName">
         Sign in
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
        <input matInput [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field appearance="outline">
          <mat-label>password</mat-label>
       <input matInput name="password" [formControl]="password" [type]="hide ? 'password' : 'text'" required >
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error ng-if="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <mat-card class="column" style="width: 1000px;height: 350px;float: left;">
        <!-- <div class="margin-top"> -->
            
            <div fxFlex.lg="10" fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10"></div>
            <div fxFlex.lg="80" fxFlex.xs="80" fxFlex.sm="80" fxFlex.md="80">
              <!-- <div class="margins-top"></div> -->
             
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center center" fxLayoutAlign.xs="space-between">
                <div *ngFor="let product of cards">
                  <div class="shadow"  [ngClass]="prodId==product.id ? 'select' : 'notSelect'">
                    <mat-card class="break1" (click)="click()" (click)="selectCards(product)" >
                      <mat-card-title>
                        {{product.price | currency:usd}}
                      </mat-card-title>
                      <mat-card-subtitle>
                        <p class="fontColor">{{product.name}}
                      </mat-card-subtitle>
                      <mat-card-content>
                        <li>{{product.description}}</li>
          
                      </mat-card-content>
                    </mat-card>
                    <div class="whiteFont" *ngIf="prodId==product.id"><h5>SELECTED</h5></div>
                    <div class="whiteFont" *ngIf="prodId!=product.id"> <h5>ADD TO CART</h5></div>
                  </div>
                </div>
              </div>
            </div>
            <div fxFlex.lg="10" fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10"></div>
          <!-- </div> -->
      </mat-card>
  </mat-card-content>
  <mat-card-actions>
    <div id="signButton"><button mat-button (click) = "secureLogin(email.value, password.value)" mat-raised-button color="primary" >Log In</button>
      
</div>
    <div _ngcontent-c13="" (click) = "forgot()" class="back">Forgot password?</div>    
    <div _ngcontent-c13="" (click) = "account()"  class="back">Create account</div>
    <!-- <div id="forgotLink"> <a routerLink="." (click) = "forgot()" >Forgot password</a></div> -->
  </mat-card-actions>
</mat-card>

</div>