$red:red;
$lightblue: #4285f4;
$white:#ffffff;
$colorImageIcon:rgb(173, 216, 230);
$grey: lightslategrey ;
$black:#000000;
$chipColorRemove: rgba(0, 0, 0, 0.87);
$greylight:rgb(211, 211, 211);
$yellow:#fb0;
$green:green;
  $blue:  #01579B
